<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1
      style="
        text-align: center;
        font-family: Arial;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 1px;
        margin-bottom: 0;
      "
      class="header"
    >
      ACUSE ELECTRÓNICO
    </h1>
    <h2
      style="
        text-align: center;
        font-family: Arial;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 0;
      "
    >
      SISTEMA DE GESTIÓN DE CRÉDITOS A MUNICIPIOS
    </h2>
    <h3
      style="
        text-align: left;
        font-family: Arial;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 1px;
        margin-bottom: 0;
      "
      class="header"
    >
      {{oficio}}
    </h3>
    <h4
      style="
        text-align: left;
        font-family: Arial;
        font-size: 15px;
        letter-spacing: 1px;
        margin-bottom: 0;
      "
    >
      {{mensaje}}
    </h4>
  </body>
</html>
